html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    outline: none;
}

/*---------------------------------------
GLOBAL---------------------------------*/

img {
    display: block;
    width: 100%;
    max-width: 100%;
}
body {
    background: #26292e;
    color: #fefefe;
    font: 2rem/2.6rem 'Titillium Web', sans-serif;
}

/*---------------------------------------
Common Styles---------------------------*/

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 0 5rem 0;
}
.top p {
    text-align: center;
    font: 300 2.4rem/2.8rem 'Titillium Web', sans-serif;
}
.red {
    color: #de5e60;
    text-decoration: none; 
}
.white {
    color: #fefefe;
    text-decoration: none;
}
.work, .about, .touch {
    padding: 5rem 0;
}

/*---------------------------------------
SLIDER---------------------------------*/

.slider {
    background: #2f3238;
    height: 100vh;
}
.slider .block {
    background: #1b1d20;
    height: calc(100vh - 49px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}
.slider .block img {
    width: auto;
}
.slick-arrow {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background: url(../images/arrow.png) center no-repeat #26292e;
    border: none; 
}
.slick-next {
    left: 50px;
    transform: rotate(180deg);
    text-indent: 9999px;
}
.slick-prev {
    z-index: 10;
}
.slick-dots {
    top: calc(100vh - 35px);
    display: flex;
    position: absolute;
    left: 50%;
}
.slick-dots button {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-indent: -9999px;
    border: none;
    background: #6e7074;
}
.slick-dots button:hover {
    background: #de5e60;
}

/*---------------------------------------
HEADER---------------------------------*/

.navbar {
    width: 100%;
    background: #26292e;
    margin-bottom: 0;
    border: none;
}
.navbar-header .logo {
    display: block;
    width: 94px;
    height: 18px;
    text-indent: -9999px;
    background: url(../images/Brushed_logo.png) center no-repeat;
    margin: 15px 10px;
    
}
.navbar-collapse .menu li a {
    display: block;
    color: #fefefe;
    text-transform: uppercase;
}
.navbar-collapse .menu li:hover a {
    color: #de5e60;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-toggle {
    border-color: #de5e60;
}
.navbar-default .navbar-toggle:hover {
    background-color: #26292e;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fefefe;
}

/*---------------------------------------
WORK---------------------------------*/

.work, .footer {
    background: #2f3238;
}
.work .list h3 {
    text-transform: uppercase;
    font: 300 2.4rem/2.8rem 'Titillium Web', sans-serif;
    position: relative;
}
.work .list h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../images/arrow-down.jpg);
    transform: scale(.6, .6);
    top: -10px;
}
.work .list ul {
    display: none;
    padding: 0 0 0 1rem;
}
.work .list .active {
    display: block;
}
.work .list li {
    border-bottom: .1rem solid #de5e60;
    margin: 0 0 1rem 0;
    font: 300 2.4rem/2.8rem 'Titillium Web', sans-serif;
}
.work .list li a {
    text-decoration: none;
    color: #7f8289;
    display: block;
}

/*---------------------------------------
IMAGES---------------------------------*/

.photo .image{
    position: relative;
}
.photo .image{
    margin-bottom: 3rem;
}
.photo .image a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: rgba(222,94,96,.8);
    top: 0;
    position: absolute;
}

/*---------------------------------------
ITEMS---------------------------------*/

.items article .image {
    position: relative;
    margin: 0 0 2rem 0;
}
article .image a {
    width: 100%;
    height: 100%;
    font: 2rem/2.2rem 'Titillium Web', sans-serif;
    background: rgba(222,94,96,.8);
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
article .image h2 {
    color: #ffffff;
    text-transform: uppercase;
}
 article .image img {
    display: block;
    width: 100%;
    max-width: 100%;
}
article h2 {
    font: 2.6rem/2.8rem 'Titillium Web', sans-serif;
    margin: 0 0 2rem 0;
}
article p {
    color: #7f8289;
    margin: 0 0 2rem 0;
}
.sprite {
    display: flex;
    width: 90px;
    transform: scale(1.5, 1.5);
    padding-left: 1.6rem;
    margin: 0 0 3rem 0;
}
.sprite li, .sprite a {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}
.sprite a {
    display: block;
    text-indent: -9999px;
    background: url(../images/spritesheet.png);
}
.sprite .twitter {
    background-position: -82px -10px;
}
.sprite .linked {
    background-position: -46px -10px;
}
.sprite .dribbble {
    background-position: -10px -10px;
}

/*---------------------------------------
INFO BLOCK---------------------------------*/

.info {
    padding: 3rem 0 0 1rem; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    border-top: .4rem solid #de5e60;
    margin: 5rem 0 0 0;
}
.info .paragraph h2 {
    text-transform: uppercase; 
    font: 600 2.8rem/2.6rem 'Titillium Web', sans-serif;
    margin: 0 0 3rem 0;
}
.info .paragraph p {
    color: #7f8289;
    margin:  0 0 3rem 0;
}
.info .purchase a {
    display: block;
    line-height: 5rem;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background: #3c3f45;
}
.info .paragraph h2 span {
    color: #de5e60;
}

/*---------------------------------------
CONTACT DETAILS-------------------------*/

.touch {
    background: #2f3238;
}
.details input[type="text"],.details textarea, .details input[type="email"] {
    background: #26292e;
    padding: 2rem;
    border: none;
    display: inline-block;
    width: 100%;
}
.details input[type="text"], .details input[type="email"] {
    border-bottom: .5px solid #7f8289;
}
.details textarea {
	min-height: 300px;
    resize: vertical;
}
.details input::last-child {
    border-bottom: auto;
}
.details input[type="submit"] {
    display: inline-block;
    width: auto;
    margin: 3rem 0 0 0;
    background: #3c3f45;
    padding: 2rem;
    border: none;
}
.contact h3 {
    text-transform: uppercase;
    font: 2.4rem/2.6rem 'Titillium Web', sans-serif;/*!!!!!!!*/
    margin-bottom: 3rem;
}
.contact ul {
    margin-bottom: 3rem;
}
.contact ul li {
    color: #7f8289; 
    font: 1.6rem/2.2rem 'Titillium Web', sans-serif;/*!!!!!!!*/
    margin-bottom: 3rem;
}
.contact li a {
    color: #7f8289;
    text-decoration: none;
}

/*---------------------------------------
TWITTER-------------------------*/

.twit {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 10rem 0 3rem 0;
}
.twit p {
    text-align: center;
    margin: 0 2rem 0 0;
    font: 2rem/2.2rem 'Titillium Web', sans-serif;
    color: #7f8289;
}
.twit p .data {
    font-style: italic;
    margin: 0 0 0 2.5rem;
}
.twit .picture {
    display: block;
    width: 25px;
    height: 25px;    
    background: url(../images/twitter.png) center no-repeat;
    margin: 7rem 0 0 0;
}

/*---------------------------------------
FOOTER-------------------------*/

footer .spriteFooter {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
footer .spriteFooter li {
    margin: 2rem 0 2rem 0;
    text-indent: -9999px;
    display: block;
    width: 70px;
    height: 70px;
    background: #26292e;
}
footer .spriteFooter li a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/footer/spritesheet_footer.png);   
}
.spriteFooter .behance {
    background-position: 0px 0px;
}
.spriteFooter .facebook {
    background-position: -70px 0px;
}
.spriteFooter .twitter {
    background-position: -140px 0px;
}
.spriteFooter .vimeo {
    background-position: -210px 0px;
}
.spriteFooter .dribble {
    background-position: -280px 0px;
}
footer .author {
    display: block;
    text-align: center;
    padding: 3rem 0;
    font: 1.2rem/1rem 'Titillium Web', sans-serif;
}

/*--------------------------------------------------
-----@media 768px-----------------------------------
----------------------------------------------------*/

@media screen and (min-width:768px) {
    
      .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    
    }
    

/*--------------------------------------------------
-----@media 1170px-----------------------------------
----------------------------------------------------*/

@media screen and (min-width:1170px) {
    
    .top p {
        font: 300 2.2rem/2.4rem 'Titillium Web', sans-serif;
    }
    .work, .about, .touch {
        padding: 10rem 0;
    }
    
    /*---------------------------------------
    WORK---------------------------------*/

    .work .list h3::after {
        display: none;
    }
    .work .list li a:hover {
        color: #de5e60;
    }
    .work .list li {
        border-bottom: none;
    }
    .work .list ul {
        display: block;
    }
    
    /*---------------------------------------
    IMAGES---------------------------------*/

    .photo .image {
        overflow: hidden;
    }
    .photo .image a {
        top: -100%;
    }
    .photo .image:hover a {
        top: 0;
    }
      
    /*---------------------------------------
    TOP---------------------------------*/

    header .humb {
        display: none;
    }
    header .menu ul {
        left: 0;
        display: flex;
        flex-flow: row;
        position: inherit;
        background: none;
    }
    header .menu li {
        margin-right: 2rem;
    }
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    /*---------------------------------------
    ITEMS---------------------------------*/

    .items {
        margin: 0 0 10rem 0;
    }
    .items article {
        margin: 0;
    }
    .items article .image {
        overflow: hidden;
    }
    article .image a {
        top: -100%;
    }
    article h2 {
        font: 2.4rem/2.6rem 'Titillium Web', sans-serif;
    }
    article p, .info .paragraph p, .info .purchase a, .work .list li a {
        font: 1.6rem/2.2rem 'Titillium Web', sans-serif;
    }
    .sprite {
        transform: scale(1, 1);
        padding-left: 0;
    }
    .details textarea {
        min-height: 400px;
    }

   
    /*---------------------------------------
    HOVER---------------------------------*/

    .info .purchase a {
        display: inline-block;
        padding: 2rem;
    }
    article .image:hover a {
        top: 0;
    }
    .slick-arrow:hover {
        background: url(../images/arrow.png) center no-repeat #de5e60;
    }
    .sprite a:hover {
        display: block;
        text-indent: -9999px;
        background: url(../images/spritesheet_new.png);
    }
    .sprite .twitter:hover {
        background-position: -4px -4px;
    }
    .sprite .linked:hover {
        background-position: -28px -4px;
    }
    .sprite .dribbble:hover {
        background-position: -52px -4px;
    }
    footer .spriteFooter li:hover a {
        background: #de5e60 url(../images/footer/spritesheet_footer.png);
    }
    .spriteFooter .behance:hover {
        background-position: 0px 0px;
    }
    .spriteFooter .facebook:hover {
        background-position: -70px 0px;
    }
    .spriteFooter .twitter:hover {
        background-position: -140px 0px;
    }
    .spriteFooter .vimeo:hover {
        background-position: -210px 0px;
    }
    .spriteFooter .dribble:hover {
        background-position: -280px 0px;
    }

    
    /*---------------------------------------
    INFO BLOCK---------------------------------*/

    .info {
        border-top: none;
        border-left: .4rem solid #de5e60;
        position: relative;
    }
    .info .paragraph h2 {
        font: 600 2.4rem/2.6rem 'Titillium Web', sans-serif;
    }
    .info .purchase {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: 845px;
        top: calc(50% - 25px);
    }
    .info .purchase a {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    footer .spriteFooter {
        display: flex;
        justify-content: center;
        padding: 7rem 0;
    }
    footer .spriteFooter li {
        margin: 0 0 0 3rem;
    }
    
    
/*    
    - логотип
    - форма
    - соц сети
*/
    